:root {
  --text: #18005b;
  --text-h: #4258c5;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f5eeff;
  --accent: #c300ff;
  --accent-bg: rgba(198, 255, 133, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --sans: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDPGothic', 'Noto Sans JP', 'Helvetica Neue', Arial, Robot, sans-serif, system-ui;
  --serif: 'Hiragino Mincho ProN', 'Yu Mincho', 'New York', 'Times New Roman', Roboto, serif, system-ui;
  --heading: var(--sans);
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/1.5 var(--serif);
  letter-spacing: 1%;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
} */

body {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  margin: 0;
}

main {
  grid-area: 1 / 2 / 1 / 2;
  max-width: 80em;
}

h1,
h2 {
  margin: 1em 0 0.5em;
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2;
}

p {
  margin: 1em 0;
}

ul, ol {
  margin: 1em 0;
}

ul {
  list-style: square;
}

a {
  color: var(--text-h);
}

#icon {
  text-align: center;
  /* position: sticky;
  top: 0; */
  margin: 0 auto 1em;
}
#icon-animation {
  width: 100%;
  max-width: 320px;
  aspect-ratio: 1;
}
#icon > figcaption {
  display: none;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .1em;
  vertical-align: -0.1em;
}